# files project
.DS_Store
/nbproject

*.log
error_log


# no follow file of configuration local
/src/blog

#
/src/inc.core.php
/src/validateUser.php
/src/aplication/inc.config.php

/src/aplication/utilities/Libs.php
# FILES
/src/aplication/utilities/cache/
/src/aplication/utilities/upload_img/
# IMAGES
/src/aplication/webroot/imgs/catalogo/*
/src/aplication/webroot/imgs/catalogo/*.*

/src/webroot/imgs/*

/docs/


## yes follow
!/aplication/webroot/imgs/logo_deaventura.png
