/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2015, 02:58:00 PM
    Author     : Bitalik
*/

/* HELPER */
.div-inline {
    display: inline-block;
}

.color-blue {
    color: #253f72;
}

/** ICONS **/
.ico-profile {
    padding-left:25px;
    display: inline-block;
    height: 16px;
    width: 16px; 
}
.ico-profile-location  {
    background: transparent url('../../imgs/profile-location.png') no-repeat top left;
}
.ico-profile-compass  {
    background: transparent url('../../imgs/profile-compass.png') no-repeat top left;
}
.ico-profile-star {
    background: transparent url('../../imgs/profile-star.png') no-repeat top left;
}

.ico-sport {
    
    display: inline-block;
    height: 24px;
    width: 24px; 
    margin-bottom: -5px;
}
.ico-sport-1 {
    background: transparent url('../../imgs/catalogo/andinismo.png') no-repeat top left;
}
.ico-sport-2 {
    background: transparent url('../../imgs/catalogo/4x4.png') no-repeat top left;
}
.ico-sport-3 {
    background: transparent url('../../imgs/catalogo/buceo.png') no-repeat top left;
}
.ico-sport-4 {
    background: transparent url('../../imgs/catalogo/puenting.png') no-repeat top left;
    
}
.ico-sport-5 {
    background: transparent url('../../imgs/catalogo/canotaje.png') no-repeat top left;
}
.ico-sport-6 {
    background: transparent url('../../imgs/catalogo/ciclismo.png') no-repeat top left;
}
.ico-sport-7 {
    background: transparent url('../../imgs/catalogo/escalada.png') no-repeat top left;
}
.ico-sport-8 {
    background: transparent url('../../imgs/catalogo/parapente.png') no-repeat top left; 
}
.ico-sport-9 {
    background: transparent url('../../imgs/catalogo/sandboard.png') no-repeat top left; 
}
.ico-sport-10 {
    background: transparent url('../../imgs/catalogo/snowboard.png') no-repeat top left;
}
.ico-sport-11 {
    background: transparent url('../../imgs/catalogo/surf.png') no-repeat top left;
}
.ico-sport-12 {
    background: transparent url('../../imgs/catalogo/trekking.png') no-repeat top left;
}
.ico-sport-13 {
    background: transparent url('../../imgs/catalogo/triatlon.png') no-repeat top left;
}
.ico-sport-14 {
    background: transparent url('../../imgs/catalogo/trail-running.png') no-repeat top left;
}
.ico-sport-15 {
    background: transparent url('../../imgs/catalogo/otros-deportes.png') no-repeat top left;
}

/* Css perfil aventurero */
.av-profile-top {
 
}

.me-image{
    width: 74px;
    height: 74px;
    background-color: yellow;

}
.me-level {
    background: transparent url('../../imgs/nivel.png') no-repeat left;
    width: 40px;
    display: inline-block;
    line-height: 37px;
    height: 40px;
    position: absolute;
    padding: 8px 11px;
}
.me-level span{
  bottom: 9px;
  position: relative;
  left: 5px;
    color:#155bba;
}

.av-profile-container {
    padding: 10px;
    border:1px solid red;
}

.av-profile-body {
    
}
.av-profile-footer {
    
}

#window.aventurero #pagina #cuerpo #panel_right{
    /*border: 1px solid purple;
    margin: 0;
    width:none;
    float: right;*/
}

#window.aventurero #pagina {
    background: transparent url('../../imgs/catalogo/surf_bg.jpg') no-repeat top center;
}



.profile-social {
    padding: 0;
}
.profile-social #panel_right {
    width: initial;
  margin: 0;
}
.profile {
  padding: 15px 10px 0px 15px;
  color: black;
}
.profile .col-md-1,.profile .col-md-11 {
    margin: 0;
    padding: 0;
}

.block-gray {
padding: 16px;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.profile-title {
    color:#253f72;
  font-size: 29px;
  line-height: 42px;
  
}
.profile-body {
    
}

.profile-body > .col-md-6 {
    padding-left: 0;
}

.aventurero, h2 ,h3 {
    color:#253f72;
    font-size: 17px;
}

.btn-sport-yellow {
    background-color: #FFF1A6;
    border: 1px solid #F2CB05;
    border-radius: 5px;
    color: #253f72;
    margin: 0px 0px 5px 0px;
    padding: 1% 10%;
    min-width: 180px;
}
.btn-sport-blue {
    background-color: #E8EDF1;
    border: 1px solid #90A6B9;
    border-radius: 5px;
    color: #253f72;
    margin: 0px 0px 5px 0px;
    min-width: 200px;
    /*padding:1% 7%;*/
}

.btn-sport-blue-small {
    background-color: #E8EDF1;
    border: 1px solid #90A6B9;
    border-radius: 5px;
    color: #253f72;
    margin: 0px 0px 5px 0px;
    font-style: italic;
    /*padding: 0.5% 4%;*/
    min-width: 180px;
}

.aventurero {
color: black;
    
}
.aventurero #pagina {
    color:black;
}
.aventurero .row {
    /*
      margin: 0;
  padding: 0;*/
}
.aventurero, h2 {

    color:#253f72;
    font-size: 23px;
}

.aventurero, h3 {
    color:#373737;
    margin: 9px 0px;
}

.profile ul {
      list-style: none;
}

ul.mis-datos li{
    margin: 0 0 8px 0px;
  /* border: 1px solid red; */
  font-style: italic;
  color: black;
  font-size: 14px;
}

.mymody {

    background: rgba(255, 255, 255, 0.9);
    margin-top: 62px;
    border: 1px solid #DDD;
}

@media (min-width: 1200px) {
    
    .mymody {
        width: 1236px;
    }
}


.text-size-1 {
    
}

.text-size-2 {
    
}
.text-size-3 {
    
}
.text-size-4 {
    font-size: 1em;
}

.text-size-5 {
    font-size: 0.80em;
}





/* style base */
/*Spaces
------------------------------------*/
.margin-left-5 { margin-left: 5px;}
.margin-right-5 { margin-right: 5px;}

.no-top-space {
  margin-top: 0;
  padding-top: 0;
}

.no-bottom-space {
  margin-bottom: 0;
  padding-bottom: 0;
}

.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60 { 
   clear:both;
}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

@media (max-width: 768px) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .sm-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .sm-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .sm-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .sm-margin-bottom-60 {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .md-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .md-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .md-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .md-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .md-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .md-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
