/*
*
*/
/*debug css */
.red {
    border:1px solid red;
}

/* styles form */
.titulo-cuadrado{
    margin-bottom: 10.5px;
    margin-top: 16px;
}

.titulo-cuadrado .titulo{
    font-size: 22px !important;
    font-family: 'robotoregular';
}
.top-span{
    margin-top:12px;
}

.titulo-cuadrado p{
    margin: 0px !important;
    padding: 0px !important;
}
.mini-letra-color{
    color: #429de4;
    font-style: italic;
    font-size: 12px !important;
}
/* fix style general.css */
form label {
    width: inherit;
    text-align: left;
}
/* block */
.bloque1{
    
    background: none repeat scroll 0% 0% #F4F9FE;
    border: 1px solid #D2E9FB;
    padding: 24px 35px;
    color: #444;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.chk-item-deport {
    margin-right: 20px;

}
.chk-item-deport input[type=checkbox] {
    margin-right: 5px;
}

.ico-account {
    color : #1c94c4;
}