.ax-button span{
	height:0;
	position: absolute;
	top: 0px;
	padding-top: 4px;
}

.ax-browse-c{
	overflow: hidden;
	display: inline-block;
	position:relative;
	background: url(../imgs/btn_right.png) repeat-x right -2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	
	cursor: pointer;
	padding: 4px 10px;
	margin-left: 5px;
	color: white;
	font-size: 14px;
	font-family: 'Droid Sans', sans-serif;
	width: 89px;
	height: 18px;
}
.ax-browse-c span{}
.ax-browse-c:hover{
	background: url(../imgs/btn_right.png) repeat-x right -37px;
	text-decoration: none;
	color: white;
}
.ax-upload-all:hover,.ax-clear:hover{

}

.ax-upload-all
{	
	width:26px;
	height:26px;
	margin-left:5px;
	display: inline-block;
	background-image:url(../imgs/images/upload.png);
	cursor:pointer;
	position: absolute;
	top: -1px;
	left: 151px;
}
.ax-upload-all span{display: none;}

.ax-clear
{
	width:26px;
	height:26px;
	margin-left:5px;
	display: inline-block;
	background-image:url(../imgs/images/remove.png);
	cursor:pointer;
	position: absolute;
	top: -1px;
	left: 118px;

}
.ax-clear span{display: none}

.ax-remove, .ax-upload, .ax-abort, .ax-confirm
{
	margin-top:4px;
	width:20px;
	height:20px;
	margin-left:60px;
	cursor:pointer;
	display: inline-block;
}
.ax-remove{
	background-image:url(../imgs/images/remove-s.png);
}
.ax-upload{
	background-image:url(../imgs/images/upload-s.png);
}
.ax-abort{
	background-image:url(../imgs/images/abort-s.png);
}
.ax-confirm{
	background-image:url(../imgs/images/ok-s.png);
}


.ax-disabled
{
	opacity: 0.5;
	filter:alpha(opacity=50);
	cursor:auto;
}

.ax-confirm
{
	display:none;
}
.ax-remove:hover, .ax-upload:hover, .ax-abort:hover
{
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 0 3px rgba(0,0,0,0.9),0 0 6px rgba(255,255,255,0.7);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 0 3px rgba(0,0,0,0.9),0 0 6px rgba(255,255,255,0.7);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 0 3px rgba(0,0,0,0.9),0 0 6px rgba(255,255,255,0.7);
}


/************************List files styles********************************************/

.ax-file-list
{
	overflow:hidden;
    list-style: none outside none;
    padding:5px;
	margin: 8px 0 0 0;
	border-radius:5px;
}

.ax-file-list li:hover{
	
}

.ax-file-list li{
	border: 1px solid #EBEBEB;
	padding: 3px;
	position: relative;
	height: 40px;
}
/*****************************************************************************/


.ax-file-name
{
	color: #000;
    font-family: arial,verdana;
    overflow: hidden;
    width: 100%;
	height: 21px;
	margin: 0;
	float: left;
	font-size: 15px;
	padding-left: 20px;
}
.ax-file-name input
{
	width:80%;
}

.ax-file-size
{
	color: #929292;
    font: 12px 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow: hidden;
    width: 100%;
    margin:0;
	padding-left: 20px;
}

.ax-progress
{
    background-color: white;
    border-radius: 2px;
    margin-top: 4px;
    padding: 0;
    float:left;
    height:14px;
    width: 210px;
    position:relative;
    text-align:center;
}

.ax-progress-bar
{
    height: 14px;
	border-radius: 2px;
	position:absolute;
	top:0;
	left:0;
	width: 0%; 
	background-image: url(../imgs/images/loader.gif);
}

.ax-progress-info
{
	font: 12px 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    height: 13px;
    position:absolute;
    width: 100%;
    top:0;
	left:0;
}


.ax-toolbar
{
	overflow:hidden;
	float:right;
	margin-right: 38px;
}

.ax-browse
{
	opacity: 0;
	filter:alpha(opacity=0);
	font-size:50px;
	cursor:pointer;
	height:50px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.ax-preview
{
	max-height:40px;
	max-width:40px;
}

.ax-prev-container
{
	height:40px;
    width: 40px;
    margin: 0 auto;
    float:left;
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url(../imgs/icons.png) no-repeat -41px -41px;
}

.ax-details
{
	float:left;
	width:274px;
}

/*************************************Light Box CSS***************************************/
	#ax-box 
	{
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 1001;
		display: none;
		border:10px solid #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; 
		
	  -webkit-box-shadow: 0px 0px 21px 0px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	     -moz-box-shadow: 0px 0px 21px 0px #ffffff; /* FF3.5 - 3.6 */
	          box-shadow: 0px 0px 21px 0px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
		
	}
	
	
	#ax-box span
	{
		margin-left:20px;
		
	}
	
	#ax-box-shadow 
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		filter: alpha(opacity=75);
		-moz-opacity: 0.75;
		-khtml-opacity: 0.75;
		opacity: 0.75;
		z-index: 1000;
		display: none;
	}
/*****************************************************************************************************/



/*************************************File Type Icons*************************************************/
.ax-filetype-pdf{
	background: url(../imgs/icons.png) no-repeat  -81px 0px;
}
.ax-filetype-zip{
	background: url(../imgs/icons.png) no-repeat  -121px -121px;
}
.ax-filetype-doc{
	background: url(../imgs/icons.png) no-repeat  0 -81px;
}
.ax-filetype-docx{
	background: url(../imgs/icons.png) no-repeat  0 -81px;
}
.ax-filetype-rar{
	background: url(../imgs/icons.png) no-repeat -121px -121px;
}
.ax-filetype-exe{
	background: url(../imgs/icons.png) no-repeat  -41px 0;
}
.ax-filetype-xls{
	background: url(../imgs/icons.png) no-repeat  0 -121px;
}
.ax-filetype-xml{
	background: url(../imgs/icons.png) no-repeat -121px -81px;
}
.ax-filetype-mp4{
	background: url(../imgs/icons.png) no-repeat -121px -41px;
}
.ax-filetype-avi{
	background: url(../imgs/icons.png) no-repeat -121px -41px;
}
.ax-filetype-pdf{
	background: url(../imgs/icons.png) no-repeat -81px 0px;
}
.ax-filetype-gif{
	background: url(../imgs/icons.png) no-repeat -41px -81px;
}
.ax-filetype-bmp{
	background: url(../imgs/icons.png) no-repeat 0 -41px;
}
.ax-filetype-mp3{
	background: url(../imgs/icons.png) no-repeat 0 0;
}
.ax-filetype-ppt{
	background: url(../imgs/icons.png) no-repeat -81px -81px;
}
.ax-filetype-tiff{
	background: url(../imgs/icons.png) no-repeat -121px 0;
}
.ax-filetype-txt{
	background: url(../imgs/icons.png) no-repeat -81px -121px;
}